<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <% if (isAuthenticated && user.admin==1) { %>
            <%- include('../includes/Admin_navigation.ejs') %>
            <% } else { %>
                <%- include('../includes/navigation.ejs') %>
                <% } %>
        <main class="centered">
            <h1><%= product.title %></h1>
            <hr>
            <div class="image">
                <img src="<%= product.image %>" alt="<%= product.title %>">
            </div>
            <h2><%= product.price %></h2>
            <p><%= product.description %></p>
            <% if (isAuthenticated && user.admin== 0) { %>
                <%- include('../includes/add-to-cart.ejs', {product: product}) %>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>